<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Admin Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Reset Password</h2>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.admin_username.label }}
            {{ form.admin_username() }}
            {% if form.admin_username.errors %}
                {% for error in form.username.errors %}
                    <div style="color: red;">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {{ form.admin_password.label }}
            {{ form.admin_password() }}
            {% if form.admin_password.errors %}
                {% for error in form.admin_password.errors %}
                    <div style="color: red;">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {{ form.admin_password2.label }}
            {{ form.admin_password2() }}
            {% if form.admin_password2.errors %}
                {% for error in form.admin_password2.errors %}
                    <div style="color: red;">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
